<div class="container">
Répartition des stocks :
<%= pie_chart @bouteilles.joins(:cave).group(:nom).count%>
<%= pie_chart @bouteilles.joins(:cuvee => :appellation).group(:couleur).count %>
<%= pie_chart @bouteilles.joins(:cuvee => :appellation).group(:region).count %>

Evolution des stocks :
<%= line_chart Bouteille.daily_stock%>


Achats cette année :
<%= pie_chart @bouteilles.joins(:cuvee => :appellation).where("date_achat > ?", Date.new(2021,12,31)).group(:couleur).count %>
<%= pie_chart @bouteilles.joins(:cuvee => :appellation).where("date_achat > ?", Date.new(2021,12,31)).group(:region).count%>


Dégustations cette année :
<%= pie_chart Degustation.joins(:bouteille => [{:cuvee => :appellation}]).where("date_deg > ?", Date.new(2022,01,01)).group(:couleur).count %>
<%= pie_chart Degustation.joins(:bouteille =>  [{:cuvee => :appellation}]).where("date_deg > ?", Date.new(2022,01,01)).group(:region).count%>


</div>
