<div class ="d-none" data-display-form-target = "revealWishFields">
          <%=f.input  :date_achat, as: :date, html5: true%>
          <%=f.input :cave, collection: @caves%>
          <%= f.input :prix%>
          <%= f.input :provenance%>
          <%= f.button :submit, "Enregistrer", class: "bacchus-button-filter"%>
</div>
