<div data-cuvee-form-target="formFiltered">
  <%= simple_form_for(@cuvee) do |f|%>
    <%=f.association :appellation, label: false, collection: appellations, as: :radio_buttons, input_html: {:"data-action"=>"input->cuvee-form#displayrest", :"data-cuvee-form-target"=> "appellationInput"}%>
    <div class= "d-none" data-cuvee-form-target="restOfForm">
    <%=f.input  :domaine%>
    <%=f.input :cuvee%>
  <%= f.input :annee, as: :date, discard_day: true, discard_month: true, start_year: Date.today.year - 37, end_year: Date.today.year %>
  <%= f.input :date_deg_min, as: :date, discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 10%>
  <%= f.input :date_deg_max, as: :date, discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 30%>
  <%= f.button :submit, "Enregistrer", class: "bacchus-button-filter"%>
    </div>
  <%end%>
</div>
