<div class="bottom-bar d-flex flex-row justify-content-center px-3">
  <% if user_signed_in? %>
      <%= link_to cuvees_path, class: "icon-link-navbar" do %>
        <%= image_tag 'search.png', :"class" => "icon-link"%>
        <p class="picture-caption">Accueil</p>
      <% end %>
      <%= link_to "degustations", degustations_path%>
      <%= link_to bouteilles_path, class: "icon-link-navbar" do %>
        <%= image_tag 'bottle.png', :"class" => "icon-link"%>
        <p class="picture-caption">Mises de Côté</p>
      <% end %>
       <%= link_to new_bouteille_path, class: "icon-link-navbar" do %>
        <%= image_tag 'box.png', :"class" => "icon-link"%>
        <p class="picture-caption">Ajouter</p>
      <% end %>
      <%= link_to metrics_path, class: "icon-link-navbar" do %>
        <%= image_tag 'graph-bar.png', :"class" => "icon-link"%>
        <p class="picture-caption">Statistiques</p>
      <% end %>
  <% end %>
</div>
