<div class="bottom-bar d-flex flex-row justify-content-center px-3">
  <% if user_signed_in? %>
      <%= link_to cuvees_path, class: "icon-link-navbar" do %>
        <%= image_tag 'search.png', :"class" => "icon-link"%>
        <p class="picture-caption">Accueil</p>
      <% end %>
      <%= link_to bouteilles_path, class: "icon-link-navbar" do %>
        <%= image_tag 'pen_white.png', :"class" => "icon-link"%>
        <p class="picture-caption">Degustation</p>
      <% end %>
       <%= link_to new_bouteille_path, class: "icon-link-navbar" do %>
        <%= image_tag 'bottle.png', :"class" => "icon-link"%>
        <p class="picture-caption">Logistique</p>
      <% end %>
      <%= link_to cuvees_path, class: "icon-link-navbar" do %>
        <%= image_tag 'graph-bar.png', :"class" => "icon-link"%>
        <p class="picture-caption">Statistiques</p>
      <% end %>
  <% end %>
</div>
