<div class="modal" data-cuvee-modal-target = "displayNone">
  <div class= "modal-container" data-cuvee-modal-target="openModal">
    <div class="modal-section">
      <div class="bacchus-button-filter" data-action= "click->cuvee-modal#closeModal">Retour</div>
    </div>
    <div class="modal-section">
      <div class="title-card"><%= cuvee.domaine%></div>
      <%= cuvee.cuvee%>
      <%= cuvee.annee.year%>
      <%= cuvee.appellation.nom%>
    </div>
    <div class="modal-section">
      <div class="price">
        acheté : <%= cuvee.prix_moyen%> €
        cote actuelle :<%= cuvee.prix_actuel%> €
      </div>
      <%if cuvee.date_deg_max.blank? %>
        A déguster à partir de <%= cuvee.date_deg_min.year%>
      <%else%>
        A déguster entre <%= cuvee.date_deg_min.year%> et <%=cuvee.date_deg_max_year%>
      <%end%>
    </div>
    <div class="modal-section">
      <%if cuvee.degustations.uniq.count > 0 %>
        <%=cuvee.degustations.uniq.count%> <%="dégustation".pluralize(cuvee.degustations.uniq.count)%> (note moyenne : <%= cuvee.average_grade%>)
        <%cuvee.degustations.uniq.each do |degustation|%>
          <div class="degustation-preview">
          <div class="title-card"><%=degustation.date_deg.strftime("%d.%m.%y")%></div>
          <%=degustation.note_cuvee%>
          "<em><%=degustation.commentaire%></em>"
          </div>
        <%end%>
      <%else%>
        Aucune dégustation (pour l'instant...)
      <%end%>
    </div>
    <div class="modal-section">
      <% if @cave.blank? %>
        <%=cuvee.bouteillesaboire.count%> <%="bouteille".pluralize(cuvee.bouteillesaboire.count)%>
        <% cuvee.bouteillesaboire.includes([:cave]).each do |bouteille|%>
          <%=render 'shared/bottle_preview', bouteille: bouteille %>
        <%end%>
      <%else%>
        <%= @cave.bouteillesaboire.where(cuvee: cuvee).count%> <%="bouteille".pluralize(@cave.bouteillesaboire.where(cuvee: cuvee).count)%>
        <% @cave.bouteillesaboire.where(cuvee: cuvee).each do |bouteille|%>
          <%=render 'shared/bottle_preview', bouteille: bouteille %>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
