<div class= "cuvee-preview" data-controller = "cuvee-modal">
  <div class="title-card">
    <%= cuvee.domaine%>
  </div>
  <div class= "cuvee-preview-details" data-action= "click->cuvee-modal#openCuveeModal">
    <%= cuvee.cuvee%>
    <%= cuvee.annee.year%>
    <%= cuvee.appellation.nom%>
    <div class="sticker">
      <% if @search_params[:cave].blank? %>
        <%=cuvee.bouteillesaboire.count%>
      <%else %>
        <%= @cave.bouteillesaboire.where(cuvee: cuvee).count%>
      <%end%>
    </div>
  </div>
  <div class= "modal-overlay d-none" data-cuvee-modal-target= "closedModal">
    <%=render "shared/cuveemodal", cuvee: cuvee %>
  </div>
</div>
