<%= simple_form_for(@bouteille) do |f|%>
  <%=f.input :cuvee, collection: @cuveesforsearch%>
  <span>

  </span>
  <%=f.input  :date_achat, as: :date, html5: true%>
  <%=f.input :cave, collection: @caves%>
  <%= f.input :emplacement1 %>
  <%= f.input :emplacement2 %>
  <%= f.input :emplacement3 %>
  <%= f.input :prix%>
  <input class="form-control string required" type="integer" name="create[number]" id="number_create" />
  <%= f.submit %>
<%end%>
