<div class="bottle-preview">
  <div class="title-card">
    <%=bouteille.cuvee.domaine%>
    <%= bouteille.cuvee.cuvee%>
    <%= bouteille.cuvee.annee.year%>
  </div>
  <div class="bottle-details">
    <div class="localisation-fields">
      <%=bouteille.cuvee.appellation.nom%>
      <div class="provenance">
        <%=bouteille.provenance%>
      </div>
      <div class="added">
        Découvert le <%=bouteille.updated_at.strftime("%d.%m.%y")%>
      </div>
    </div>
    <div class="buttons-links">
      <%= link_to new_cuvee_path(bouteille.cuvee) do%>
        <%=image_tag "box-red.png", class:"icon-link"%>
      <%end%>
    </div>
  </div>
</div>
