<div class="container">
  <div class="display">
    <%=if current_user.caves.count==0 %>
      <h1>Bienvenue dans Bacchus !</h1>
      <p>Commencez par créer une cave</p>
    <%end%>
    <%=simple_form_for @cave do |f|%>
      <%=f.input :nom%>
      <%=f.input :localisation%>
      <%=f.input :capacité%>
      <div class="cuvee-preview-details">
      <%= f.button :submit, "Enregistrer", class: "bacchus-button-filter"%>
    <%end%>
    <%=link_to settings_path do%>
      <div class="bacchus-button-filter">Retour</div>
    <%end%>
    </div>
  </div>
</div>
