<div class="container">
  <div class="display">
    <h3>Welcome, <%=@user.email%></h3>
    <div class="metrics-section">
      <h3> Vous avez <%=@bouteilles.count %> bouteilles dans <%=@caves.count%> caves </h3>
          <%= bar_chart @bouteilles.joins(:cave).group(:nom).count, colors: ['#E5044B','#67103C','#FAECDD'], discrete: true,
          library: {
            scales: {
              'x': {
                display: false,
              },
            },
            animation: {
            }
          }%>
    </div>
    <div class="metrics-section">
      <h3> Vos dernières degustations </h3>
        <%@lastdegs.each do |degustation|%>
          <%= render 'shared/degustation_preview', degustation: degustation%>
        <%end%>
    </div>
    <div class="metrics-section">
      <h3>Vos derniers achats</h3>
      <%@lastbuys.each do |cuvee|%>
        <%= link_to cuvee_path(cuvee), {:remote => true, 'data-toggle' => 'modal'} do%>
          <div class= "cuvee-preview">
            <div class="title-card">
              <%= cuvee.domaine%>
            </div>
            <div class= "cuvee-preview-details">
              <%= cuvee.cuvee%>
              <%= cuvee.annee.year%>
              <%= cuvee.appellation.nom%>
              <div class="sticker">
                <%=cuvee.bouteillesaboire.joins(:cave).where("caves.user_id = ?", current_user.id).count%>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
</div>
