<div class= "container">
  <div class = "search-block">
    <form novalidate="novalidate" class="simple_form search mb-1" action="/cuvees" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control">
        <div class = "d-flex align-items-start justify-content-between form-group">
          <div class="col-3">
              <select class="form-select form-control" name="search[cave]" id="search_cave" >
                <option value="">Cave</option>
                <%Cave.all.each do |cave|%>
                <option <%= cave.nom == @search_params[:cave] ? "selected" : "" %>><%=cave.nom%></option>
                <%end%>
              </select>
          </div>
          <div class="col-3">
              <select class="form-select form-control" name="search[couleur]" id="search_couleur" >
                <option value="">Couleur</option>
                <% @couleurs.each do |couleur|%>
                <option <%= couleur == @search_params[:couleur] ? "selected" : "" %>><%=couleur%></option>
                <%end%>
              </select>
          </div>
          <div class="col-3">
              <select class="form-select form-control" name="search[region]" id="search_region">
                <option value="">Région</option>
                <% @regions.each do |region|%>
                <option <%= region == @search_params[:region] ? "selected" : "" %>><%=region%></option>
                <%end%>
              </select>
          </div>
          <%= link_to cuvees_path do%>
            <button name="button" class="bacchus-button-filter">
              <i class="fas fa-redo"></i>
            </button>
          <%end%>
          </div>
        <div class="mt-3 d-flex align-items-start justify-content-between form-group">
        <input class="form-control string required" type="text" name="search[keyword]" id="search_keyword" value="<%= @search_params[:keyword].present? ? @search_params[:keyword] : "" %>" />
         <button name="button" type="submit" class="bacchus-button-filter">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class = "display-results">
    <% if @cuvees.blank?%>
      Aucune cuvée ne correspond à ces critères
    <%else%>
      <% @cuvees.each do |cuvee|%>
        <%= link_to cuvee_path(cuvee) do %>
          <div class= "cuvee-preview" data-controller = "cuvee-modal" data-action= "click->cuvee-modal#openCuveeModal">
            <div class="title-card">
              <%= cuvee.domaine%>
            </div>
            <div class= "cuvee-preview-details">
              <%= cuvee.cuvee%>
              <%= cuvee.annee.year%>
              <%= cuvee.appellation.nom%>
              <div class="sticker">
                <% if @search_params[:cave].blank? %>
                  <%=cuvee.bouteillesaboire.count%>
                <%else %>
                  <%= @cave.bouteillesaboire.where(cuvee: cuvee).count%>
                <%end%>
              </div>
              <div class= "modal-overlay d-none" data-cuvee-modal-target= "closedModal">
                <%=render "shared/cuveemodal", cuvee: cuvee %>
              </div>
            </div>
          </div>
        <%end%>
      <%end%>
    <%end%>
  </div>
</div>
