<div class= "container">
  <div class = "search-block">
    <form novalidate="novalidate" class="simple_form search mb-1" action="/cuvees" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control d-flex align-items-end justify-content-between form-group">
        <div>
        <input class="form-control string required" type="text" name="search[keyword]" id="search_keyword"/>
        </div>
        <button name="button" type="submit" class="bacchus-button-filter">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </form>
    <form novalidate="novalidate" class="simple_form search mb-1" action="/cuvees" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control d-flex align-items-end justify-content-between form-group">
        <div class="col-2">
          <label for="search_cave">Cave</label>
            <select class="form-select form-control" name="search[cave]" id="search_cave" >
              <option value="">Toutes</option>
              <%Cave.all.each do |cave|%>
              <option><%=cave.nom%></option>
              <%end%>
            </select>
        </div>
        <div class="col-2">
          <label for="search_couleur">Couleur</label>
            <select class="form-select form-control" name="search[couleur]" id="search_couleur" >
              <option value="">Toutes</option>
               <% @couleurs.each do |couleur|%>
              <option><%=couleur%></option>
              <%end%>
            </select>
        </div>
        <div class="col-2">
          <label for="search_region">Région</label>
            <select class="form-select form-control" name="search[region]" id="search_region" >
              <option value="">Toutes</option>
              <% @regions.each do |region|%>
              <option><%=region%></option>
              <%end%>
            </select>
        </div>
        <button name="button" type="submit" class="bacchus-button-filter">
          Filtrer
        </button>
      </div>
    </form>
  </div>
  <div class = "display-results">
    <% @cuvees.each do |cuvee|%>
      <%= link_to cuvee_path(cuvee) do %>
      <div class= "cuvee-preview">
        <div class="title-card">
          <%= cuvee.domaine%>
        </div>
        <div class= "cuvee-preview-details">
          <%= cuvee.cuvee%>
          <%= cuvee.annee.year%>
          <%= cuvee.appellation.nom%>
          <div class="sticker">
            <% if @search_params[:cave].blank? %>
              <%=cuvee.bouteillesaboire.count%>
            <%else %>
              <%= @cave.bouteillesaboire.where(cuvee: cuvee).count%>
            <%end%>
          </div>
        </div>
      </div>
      <%end%>
    <%end%>
  </div>
</div>
