<div class= "container">
  <div class="display">
    <%= simple_form_for(@cuvee) do |f|%>
      <% if params[:format].present?%>
        <%=f.association :appellation, as: :hidden %>
        <%=f.input  :domaine, as: :hidden%>
        <%=f.input :cuvee, as: :hidden%>
      <%else%>
        <%=f.association :appellation %>
        <%=f.input  :domaine%>
        <%=f.input :cuvee%>
      <%end%>
       <%= f.input :annee, as: :date, discard_day: true, discard_month: true, start_year: Date.today.year - 37, end_year: Date.today.year %>
       <%= f.input :date_deg_min, as: :date, discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 10%>
       <%= f.input :date_deg_max, as: :date, discard_day: true, start_year: Date.today.year, end_year: Date.today.year + 30%>
      <div class="cuvee-preview-details">
        <%= f.button :submit, "Enregistrer", class: "bacchus-button-filter"%>
      <%end%>
      <%= link_to new_bouteille_path do%>
      <button class= "bacchus-button-filter"%>Abandonner</button>
      <%end%>
    </div>
  </div>
</div>
