<div class= "container">
<%= simple_form_for(@cuvee) do |f|%>
  <%=f.input :appellation, collection: @appellations, as: :hidden%>
  <%=f.input  :domaine, as: :hidden%>
  <%=f.input :cuvee, as: :hidden%>
  <%= f.input :annee%>
  <%= f.input :prix_achat%>
  <%= f.input :date_deg_min %>
  <%= f.input :date_deg_max%>
  <%= f.submit %>
<%end%>
</div>
