<div class= "modal-container">
  <div class="modal-section">
    <div class="title-card"><%= @cuvee.domaine%></div>
    <%= @cuvee.cuvee%>
    <%= @cuvee.annee.year%>
    <%= @cuvee.appellation.nom%>
  </div>
  <div class="modal-section">
    <div class="price">
      acheté : <%= @cuvee.prix_achat%> €
      cote actuelle :<%= @cuvee.prix_actuel%> €
    </div>
    A déguster entre <%= @cuvee.date_deg_min%> et <%=@cuvee.date_deg_max%>
  </div>
  <div class="modal-section">
    <%if @degustations.count > 0 %>
      <%=@degustations.count%> <%="dégustation".pluralize(@degustations.count)%> (note moyenne : <%= @cuvee.average_grade%>)
      <%@degustations.each do |degustation|%>
        <div class="degustation-preview">
         <div class="title-card"><%=degustation.date_deg.strftime("%d.%m.%y")%></div>
        <%=degustation.note_cuvee%>
        "<em><%=degustation.commentaire%></em>"
        </div>
      <%end%>
    <%else%>
      Aucune dégustation (pour l'instant...)
    <%end%>
  </div>
  <div class="modal-section">
    <% if @cave.blank? %>
      <%=@cuvee.bouteillesaboire.count%> <%="bouteille".pluralize(@cuvee.bouteillesaboire.count)%>
      <% @cuvee.bouteillesaboire.each do |bouteille|%>
        <div class="bottle-preview">
          <div class="title-card"><%=bouteille.cave.nom%></div>
          <%=bouteille.emplacement1%>
          <%=bouteille.emplacement2%>
          <%=bouteille.emplacement3%>
          <%=bouteille.date_achat.strftime("%d.%m.%y")%>
        </div>
      <%end%>
    <%else%>
      <%= @cave.bouteillesaboire.where(cuvee: @cuvee).count%> <%="bouteille".pluralize(@cave.bouteillesaboire.where(cuvee: cuvee).count)%>
      <%= @cave.bouteillesaboire.where(cuvee: @cuvee).each do |bouteille|%>
        <div class="bottle-preview">
          <div class="title-card"><%=bouteille.cave.nom%></div>
          <%=bouteille.emplacement1%>
          <%=bouteille.emplacement2%>
          <%=bouteille.emplacement3%>
          <%=bouteille.date_achat.strftime("%d.%m.%y")%>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
